<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th></th>
  </tr>
  <% @venues.each do |venue| %>
    <tr>
      <td><%= venue.name %></td>
      <td><%= venue.description %></td>
      <td><%= venue.location %></td>
    </tr>
  <% end %>
</table>